.bnr-text{
   font-weight: 600;
   font-size: 100px;
   color: rgb(210, 192, 170);
  
}
.caroimg{
   
   height: 600px;
   margin-top: 50px;
 }
/* responsive */
@media only screen and (max-width: 689px) {
   .bnr-text{
     width: 20px;
     height: 30px;
     margin-bottom: 20px;
     font-size: 30px;

   }
   .caroimg{
     width: 40px;
     height: 200px;
     margin-top: 50px;
   }
 }
 